<style>
  * {
    margin: 0;
    padding: 0;
  }

  header {
    height: 70px;
    background-color: rgba(128, 128, 128, 0.575);
    margin-bottom: 50px;
  }

  header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  header ul li {
    margin-top: 20px;
    list-style: none;
    font-size: 30px;
  }
</style>

<header>
  <ul>
    <a href="/">
      <li>home</li>
    </a>
    <a href="/search">
      <li>search</li>
    </a>
    <a href="/mylist">
      <li>my list</li>
    </a>

  </ul>
</header>